<% wrap_layout :layout do %>
  <section class="c-section c-section--narrow">
    <div class="o-flexbox o-flexbox--wrap o-flexbox--center">
        <article class="c-article" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
          <%= partial "partials/article_meta" %>
          <header>
            <% if current_article.metadata[:page][:image] %>
              <div class="c-article__image-wrapper">
                <img class="c-article__image webfeedsFeaturedVisual" src="<%= current_article.metadata[:page][:image] %>" alt="<%= current_article.metadata[:page][:image_alt] %>">
              </div>
            <% end %>
            <h1 itemprop="headline" class="c-article__title">
              <a class="o-link--bare" href="<%= current_article.url %>" title="<%= current_article.title %>">
                <%= current_article.metadata[:page][:title] %>
              </a>
            </h1>
          </header>

          <%= partial "partials/article_tags", locals: { tags: current_article.metadata[:page][:tags] }%>

          <section itemprop="articleBody" class="c-article__body">
            <%= yield %>
          </section>

          <% if current_article.metadata[:page][:campaign] %>
          <%= partial "partials/secondary_call_to_action", locals: { campaign: data.campaigns[(current_article.metadata[:page][:campaign]).to_sym]} %>
          <% else %>
          <%= partial "partials/newsletter" %>
          <% end %>
        </article>
    </div>

    <div class="c-pagination o-flexbox o-flexbox--aligned">
      <% if current_article.previous_article %>
        <a class="c-pagination__links-previous o-link--bare" href="<%= current_article.previous_article.url %>">
          <p>Previous Article: </p>
          <%= current_article.previous_article.title %>
        </a>
      <% else %>
      <span></span>
      <% end %>


      <% if current_article.next_article %>
        <a class="c-pagination__links-next o-link--bare" href="<%= current_article.next_article.url %>">
          <p>Next Article: </p>
          <%= current_article.next_article.title %>
        </a>
      <% else %>
      <span></span>
      <% end %>
    </div>

    <%= partial "partials/disqus" %>
  </section>
<% end %>
