<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0" name="viewport">

    <%= partial "partials/page_meta" %>

    <title><%= current_page.data.title || "oprea.rocks - Improve your team's productivity making the right technical choices" %></title>

    <%= stylesheet_link_tag :main %>
    <script> var host = "<%= data.global.host_name %>"; if ((host == window.location.host) && (window.location.protocol != "https:")) { window.location.protocol = "https"; } </script>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>
    <%= yield %>
    <%= partial "partials/footer" %>
  </body>
</html>
