<section class="c-section c-section-wrapper">
  <h2 class="c-section-heading">Latest articles</h2>
  <% articles.each do |article| %>
    <article itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
      <meta itemprop="dateCreated" content="<%= article[:date_created_on] %>">
      <meta itemprop="datePublished" content="<%= article[:date_published_on] %>">
      <meta itemprop="dateModified" content="<%= article[:date_modified_on] %>">
      <meta itemprop="keywords" content="<%= article[:keywords] %>">
      <meta itemprop="publisher" content="<%= article[:author] %>">

      <% if article[:lang] %>
        <meta itemprop="inLanguage" content="<%= article[:lang] %>">
      <% else %>
        <meta itemprop="inLanguage" content="en_US">
      <% end %>

      <!-- DIVERSITY IS KEY -->
      <span itemprop="audience" itemscope itemtype="http://schema.org/PeopleAudience">
          <meta itemprop="gender" content="any">
      </span>

        <header>
          <h2 itemprop="headline">
            <a href="<%= article[:url] %>" title="<%= article[:title] %>">
              <%= article[:title] %>
            </a>
          </h2>
        </header>

      <section itemprop="articleBody">
        <%= article[:excerpt] %>
      </section>

      <footer itemprop="author" itemscope itemtype="https://schema.org/Person">
          By <a rel="author" href="/about" itemprop="name" title="<%= article[:author] %>">
            <%= article[:author] %>
          </a>
          on
          <time datetime="<%= article[:date_published_on] %>">
              <%= article[:date_published_on] %>
          </time>
      </footer>
    </article>
  <% end %>
</section>
