<section class="c-cta c-cta__secondary c-section">
  <h2 class="c-section__heading c-cta__message"><%= campaign.headline %></h2>
  <p class="c-cta__message-secondary"><%= campaign.message %></p>
  <a class="o-link--bare o-button <%= campaign.button_classes %>" href="<%= campaign.link_to %>"><%= campaign.callout %></a>
</section>
