<section class="c-section c-section--narrow">
  <h2 class="c-section__heading">The team</h2>

  <% data.team.members.each do |member|  %>
    <article class="c-team-member-card" itemscope itemtype="https://schema.org/Person">
        <meta itemprop="brand" itemscope itemtype="https://schema.org/Brand" content="Oprea.Rocks">
        <meta itemprop="gender" itemscope itemtype="https://schema.org/Male">

        <img class="c-team-member-card__image" src="<%= member.image %>" alt="Photo of <%= member.name %>">
        <h3 class="c-team-member-card__heading" itemprop="name"><%= member.name %></h3>
        <span class="c-team-member-card__job-title" itemprop="jobTitle"><%= member.job_title %></span>
        <p class="c-team-member-card__description" itemprop="description">
          <%= member.description %>
        </p>
        <a class="o-link--bare o-button " href="/contact">I need a <%= member.job_title %></a>
    </article>
  <% end %>
</section>
